---
author: Mark B. Rasmussen
title: Markdown Slides | Overview
description: Overview of slides by Mark B. Rasmussen
design: black
---


<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section id="overview" data-markdown data-separator="\n---\n">
        <script type="text/template">
# Markdown Slides
by Mark B. Rasmussen
<br>

- [Introduction](/MarkdownSlides/getting_started)
- [Capa - Snak om PowerShell](/MarkdownSlides/capa_snak_om_powershell)
- [Eksamen i programmering (AU i IT)](/MarkdownSlides/eksamen_programmering)


<br>
<br>
						</script>
						</section>
						{{ content }}
						</div>
						</div>
						{% include script.html %}
						</body>

						</html>